@import url(css/reset.css);
@import url(css/header.css);
@import url(css/update.css);
@import url(css/common.css);
@import url(css/comments.css);
@import url(css/footer.css);

body{
  font-family: "Montserrat", sans-serif;
  max-width: 500px;
  margin: 0 auto 100px;
  position: relative;
}

.fixed-bottom {
  max-width: 500px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(182, 181, 181);
  padding: 15px 20px;
}
